




@keyframes color-change {
    0% {
      stroke: #DB07BB;
      color: #DB07BB;
    }
    25% {
      stroke: #4957F5;
      color: #4957F5;
    }
    50% {
      stroke: #C307A6;
      color: #C307A6;
    }
    75% {
      stroke: #31AAE9;
      color: #31AAE9;
    }
    100% {
      stroke: #DB07BB;
      color: #DB07BB;
    }
  }